.mainwrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #98bee9;
  }
  
  .outerwrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .card {
	background: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 580px;
  }
  
  .inner-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
  }
  
  .connect-box {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .input {
	width: 80%;
	padding: 10px;
	margin-top: 10%;
	border-radius: 15px;
	border: 1px solid #ddd;
	font-size: 16px;
  }
  
  .curved-input {
	border-radius: 20px;
  }
  
  .send-button {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	margin-top: 10%;
	border-radius: 15px;
	cursor: pointer;
	font-size: 16px;
  }
  
  .send-button.disabled {
	background-color: #98bee9;
	cursor: not-allowed;
  }
  
  .send-button.enabled {
	background-color: #98bee9;
  }
  
  .status {
	color: #333;
	margin-left: 10px;
  }
  
  .h1 {
	color: #4da1ff; /* Blue color for the Sui Wallet label */
	font-size: 34px;
	margin-left: 1%;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center; /* Center the label */
  }
  
  .connect-box .status {
	font-size: 14px; /* Reduce font size for the connected address */
	margin-top: 10px;
	color: #333;
  }
  